<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTestsSuite">
    <test name="My First Selenium TestNG Page Factory Demo Test">
        <classes>
            <class name="test.login.LoginTest"/>
        </classes>
    </test>
</suite>